.error {
  color: #e4e2e4;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: 2px !important;
  left: 2px;
}
.ant-input-lg {
  padding: 15px 14px !important;
}
.ant-input-affix-wrapper {
  padding: 0.7px 13.7px 0.7px 0.7px !important;
}
.ant-input-password-icon {
  color: #fff !important;
}
input:-webkit-autofill {
  background-color: #eaff00 !important;
}
input:-webkit-autofill {
  background-color: #eaff00 !important;
}
