.checkbox-lg .form-check-input {
  top: 0.8rem;
  scale: 1.2;
  color: #472c36;
  margin-right: 0.5rem !important;
}
.checkbox-lg .form-check-label {
  padding-top: 6px;
  color: #472c36;
  font-weight: 500;
}
.checkbox-lg {
  display: flex !important;
  align-items: center;
}
.form-check {
  display: block;
  padding: 0.25em 1.6em !important;
}
